[submodule "lib/Control-Surface"]
	path = lib/Control-Surface
	url = https://github.com/tttapa/Control-Surface
[submodule "lib/hd44780"]
	path = lib/hd44780
	url = https://github.com/duinoWitchery/hd44780.git
[submodule "lib/VL53L4CD"]
	path = lib/VL53L4CD
	url = https://github.com/stm32duino/VL53L4CD.git
[submodule "pcb/lib/teensy_library"]
	path = pcb/lib/teensy_library
	url = git@github.com:montana-science-center/teensy_library.git
[submodule "pcb/lib/teensy.pretty"]
	path = pcb/lib/teensy.pretty
	url = git@github.com:montana-science-center/teensy.pretty.git
